/*remove border around the screen and set font for the page*/
* {
  box-sizing: border-box;
  background-color: rgb(116, 6, 6);
  font-family: verdana;
  color: white;
}

/*#Item {
  width: 100%;
  min-height: 100px;
  padding: 50px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}
*/
